.card {
    display: flex;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #694a4a;
    color: #253b56;
    margin-bottom: 2rem;
    line-height: 0.5;
    width: 425px;
}

.card-img {
    border: 3px solid rgb(31, 6, 121);
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}

.card-content {
    padding-bottom: 1rem;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin-right: 1rem;
}

.card-content p {
    margin-left: 4rem;
}

span.card-content-category {
    display: flex;
    flex-direction: row-reverse;
}

.card-name {
    font-weight: bold;
}

.card-button-edit {
    margin-right: 1rem;
    color: #212529;
    background-color: #7cc;
    border-color: #5bc2c2
}

.card-button-delete {
    background-color: firebrick;
}