.card {
    display: flex;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #694a4a;
    color: #253b56;
    margin-bottom: 2rem;
    width: 425px;
    padding: 1em;
    height: 225px;
    background-color: white;
}

.card > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    border-radius: 50%;
    object-fit: cover;
}

.card-content {
    padding-bottom: 1rem;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding-left: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.card-content p {
    position: relative;
    margin: 5px 0 0 0;
}

span.card-content-category {
    position: absolute;
    top: 0;
    right: 0;
}

.card-name {
    font-weight: bold;
}

.card-button-edit {
    margin-right: 1rem;
    border-color: #5bc2c2;
    background-color: dodgerblue;
}
.card-button-edit a {
    color: white;   
}

.card-button-delete {
    background-color: firebrick;
}

.card-content > span {
    padding: 0.5rem;
    color: white;
}