.home-page {
    color: dodgerblue;
    text-align: center;
}

.home-page p {
    color: dodgerblue;
    font-size: 1rem;
}

.button-random {
    margin-bottom: 1rem;

}

.card-home {
    display: flex;
    justify-content: center;
}