.warning {
  color: red;
}

.logo {
  display: flex;
  justify-content: center;
  
}

.login-container h1 {
  color: black;
  font-size: 3rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  font-size: 1.5rem;
  width: 500px;
  margin: 0 auto;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: inherit;
  padding: 1em;
  /* background: white; */
}

/* Input */
.login-container input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: dodgerblue;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  /* &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  } */
}

.login-container input[placeholder] {
  color: transparent;
}

.login-container label {
  /* position: absolute; */
  /* top: 0; */
  /* display: block; */
  transition: 0.2s;
  font-size: 1rem;
  color: grey;
}

.login-container input:focus {
 
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #00e7ff, white);
  border-image-slice: 1;
}

.login-container input:focus label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: blue;
  font-weight:700;    
}

/* Select */
.login-container select {
  /* appearance: none; */
  color: dodgerblue;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
}

.login-container option {
  color: black;
}

.login-container select:hover {
  cursor: pointer;
}

.login-container button {
  background-color: #ffb630;
}
