nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  background-color: white;
  height: 80px;
  padding: 0 1em;
}
nav a {
  font-size: 1.3rem;
  color: dodgerblue;
}
nav > div:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

nav > div:last-child {
  width: 35%;
  display: flex;
  justify-content: right;
  gap: 25px;
  align-items: center;
}

nav img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}