#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
}

span {
  margin-left: 16rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.navigation {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.card-img {
  border: 3px solid rgb(31, 6, 121);
  border-radius: 10px 0px 0px 10px;
  object-fit: cover;
}
.card {
  display: flex;
  width: 460px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #694a4a;
  color: #253b56;
  margin: auto;
  margin-bottom: 2rem;
  line-height: 0.5;
}

.card-user {
  flex-grow: 1;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  padding: 16px 0px 0px 100px;
} 

.card-user ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
}

.card-user li {
  margin: 0 10px;
}

.card-content {
  padding-bottom: 1rem;
  background-color: white;
  border-radius: 10px;
  width: 100%;
}

hr.rounded {
  width: 100;
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}
